<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev_mahmoud_ashraf.baseapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.dev_mahmoud_ashraf.baseapp.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.dev_mahmoud_ashraf.baseapp.presentation.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.dev_mahmoud_ashraf.baseapp.MainActivity"/>

    </application>

</manifest>